

<!-- PRELOADER -->
{{!-- <div id="preloader"><img src="images/preloader.gif" alt="" /></div> --}}
<!-- //PRELOADER -->
<div class="preloader_hide">

	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
		<!-- //HEADER -->
		
		
		<!-- SHOES PAGE -->
		<section class="shoes_page parallax margbot30">
			
			<!-- CONTAINER -->
			<div class="container">
				<div class="shoes_page_description">
					<p>NEW SHOES <b>COLLECTIONS</b></p>
					<span>Up to 50%</span>
					<a class="btn active" href="javascript:void(0);" >choose your shoes</a>
				</div>
				
				
				<!-- ROW -->
				<div class="row">
					<div class="top_sale_banners">
						<div class="col-lg-3 col-md-3 col-xs-4 col-ss-12 pull-right"><a class="banner nobord white_bord margbot30" href="javascript:void(0);" ><img src="images/tovar/banner27.jpg" alt="" /></a></div>
						<div class="col-lg-3 col-md-3 col-xs-4 col-ss-12 pull-right"><a class="banner nobord white_bord margbot30" href="javascript:void(0);" ><img src="images/tovar/banner28.jpg" alt="" /></a></div>
					</div>
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //SHOES PAGE -->
		
		
		<!-- BEST PRODUCTS -->
		<section class="best_products padbot60">
			
			<!-- CONTAINER -->
			<div class="container">
				
				<!-- ROW -->
				<div class="row">
					
					<div class="col-lg-6 col-md-6" data-appear-top-offset='-100' data-animated='fadeInLeft'>
						<h2>Bestsellers shoes</h2>
						
						<!-- ROW -->
						<div class="row">
						
							<!-- //TOVAR -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot40">
								<div class="tovar_item">
									<div class="tovar_img">
										<div class="tovar_img_wrapper">
											<img class="img" src="images/tovar/shoes/1.jpg" alt="" />
											<img class="img_h" src="images/tovar/shoes/1_2.jpg" alt="" />
										</div>
										<div class="tovar_item_btns">
											<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/1.html" >quick view</a></div>
											<a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
											<a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
										</div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Popover sweatshirt in floral jacquard</a>
										<span class="tovar_price">$198.00</span>
									</div>
								</div>
							</div><!-- //TOVAR -->
							
							<!-- //TOVAR -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot40">
								<div class="tovar_item">
									<div class="tovar_img">
										<div class="tovar_img_wrapper">
											<img class="img" src="images/tovar/shoes/2.jpg" alt="" />
											<img class="img_h" src="images/tovar/shoes/2_2.jpg" alt="" />
										</div>
										<div class="tovar_item_btns">
											<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/2.html" >quick view</a></div>
											<a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
											<a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
										</div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Marled drop-shoulder sweater</a>
										<span class="tovar_price">$228.00</span>
									</div>
								</div>
							</div><!-- //TOVAR -->
						</div><!-- //ROW -->
						
						<!-- ROW -->
						<div class="row">
						
							<!-- //TOVAR -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot40">
								<div class="tovar_item">
									<div class="tovar_img">
										<div class="tovar_img_wrapper">
											<img class="img" src="images/tovar/shoes/3.jpg" alt="" />
											<img class="img_h" src="images/tovar/shoes/3_2.jpg" alt="" />
										</div>
										<div class="tovar_item_btns">
											<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/3.html" >quick view</a></div>
											<a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
											<a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
										</div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
										<span class="tovar_price">$98.00</span>
									</div>
								</div>
							</div><!-- //TOVAR -->
							
							<!-- //TOVAR -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot40">
								<div class="tovar_item">
									<div class="tovar_img">
										<div class="tovar_img_wrapper">
											<img class="img" src="images/tovar/shoes/4.jpg" alt="" />
											<img class="img_h" src="images/tovar/shoes/4_2.jpg" alt="" />
										</div>
										<div class="tovar_item_btns">
											<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/4.html" >quick view</a></div>
											<a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
											<a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
										</div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >MARLED DROP-SHOULDER SWEATER</a>
										<span class="tovar_price">$450.00</span>
									</div>
								</div>
							</div><!-- //TOVAR -->
						</div><!-- //ROW -->
					</div>
					
					<div class="col-lg-6 col-md-6" data-appear-top-offset='-100' data-animated='fadeInRight'>
						<h2>Popular shoes</h2>
						
						<!-- ROW -->
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/1.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/1.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
										<span class="tovar_price">$18.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/2.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/2.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby polo one-piece</a>
										<span class="tovar_price">$24.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/3.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/3.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Bobo choses baby one-piece</a>
										<span class="tovar_price">$22.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
						</div><!-- //ROW -->
						
						<!-- ROW -->
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/4.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/4.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
										<span class="tovar_price">$38.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/5.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/1.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby polo one-piece</a>
										<span class="tovar_price">$260.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/6.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/2.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Moonglow paisley silk tee</a>
										<span class="tovar_price">$98.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
						</div><!-- //ROW -->
						
						<!-- ROW -->
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/7.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/1.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
										<span class="tovar_price">$58.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/8.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/2.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Baby polo one-piece</a>
										<span class="tovar_price">$120.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ss-12 padbot20">
								<!-- TOVAR -->
								<div class="tovar_item_new">
									<div class="tovar_img">
										<img src="images/tovar/shoes/new/9.jpg" alt="" />
										<div class="open-project-link"><a class="open-project tovar_view" href="!projects/shoes/3.html" >quick view</a></div>
									</div>
									<div class="tovar_description clearfix">
										<a class="tovar_title" href="product-page.html" >Moonglow paisley silk tee</a>
										<span class="tovar_price">$88.00</span>
									</div>
								</div><!-- //TOVAR -->
							</div>
						</div><!-- //ROW -->
					</div>
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //BEST PRODUCTS -->
		
		
		<!-- BANNER SECTION -->
		<section class="banner_section padbot0">
			
			<!-- CONTAINER -->
			<div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
			
				<!-- ROW -->
				<div class="row">
					<div class="top_sale_banners center">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="images/tovar/banner29.jpg" alt="" /></a></div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="images/tovar/banner30.jpg" alt="" /></a></div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="images/tovar/banner31.jpg" alt="" /></a></div>
					</div>
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //BANNER SECTION -->
		
		
		<!-- SERVICES SECTION -->
		<section class="services_section padbot30">
			
			<!-- CONTAINER -->
			<div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
				
				<!-- ROW -->
				<div class="row">
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
						<div class="service_item">
							<div class="clearfix"><i class="fa fa-truck"></i><p>Free Shipping</p></div>
							<span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
						</div>
					</div>
						
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
						<div class="service_item">
							<div class="clearfix"><i class="fa fa-gift"></i><p>Many Gifts</p></div>
							<span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
						</div>
					</div>
						
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
						<div class="service_item">
							<div class="clearfix"><i class="fa fa-check-square-o"></i><p>Assistance in selecting</p></div>
							<span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
						<div class="service_item">
							<div class="clearfix"><i class="fa fa-credit-card"></i><p>Gift card for Free</p></div>
							<span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
						</div>
					</div>
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //SERVICES SECTION -->
		
		
		<!-- POPULAR ARTICLES -->
		<section class="popular_articles padbot0">
			
			<!-- CONTAINER -->
			<div class="container">
				<h2>Popular Articles</h2>
				
				<!-- JCAROUSEL -->
				<div class="jcarousel-wrapper">
					
					<!-- NAVIGATION -->
					<div class="jCarousel_pagination">
						<a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
						<a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
					</div><!-- //NAVIGATION -->
					
					<div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
						<ul>
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/1.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >Revlon x Marchesa Parts 2 and 3 are Finally Here</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
							
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/2.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >Celebrities React to Philip Seymour Hoffman's</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
							
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/3.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >DIY Beauty: The Best Use of Valentine's Day Roses</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
							
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/4.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >Revlon x Marchesa Parts 2 and 3 are Finally Here</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
							
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/5.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >Celebrities React to Philip Seymour Hoffman's</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
							
							<li>
								<article class="article_item clearfix margbot30">
									<a class="article_image" href="article-single.html" >
										<div class="article_date">30<span>oct</span></div>
										<img src="images/articles/6.jpg" alt="" />
									</a>
									<a class="article_title" href="article-single.html" >DIY Beauty: The Best Use of Valentine's Day Roses</a>
									<ul class="post_meta">
										<li><i class="fa fa-user"></i><a href="javascript:void(0);" > Anna Balashova</a></li>
										<li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
										<li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
									</ul>
								</article>
							</li>
						</ul>
					</div>
				</div><!-- //JCAROUSEL -->
			</div><!-- //CONTAINER -->
		</section><!-- //POPULAR ARTICLES -->
		
	
		<!-- FOOTER -->
		<!-- //FOOTER -->
	</div><!-- //PAGE -->
</div>

<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
	<div id="tovar_content"></div>
	<div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->

	<!-- SCRIPTS -->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE]><html class="ie" lang="en"> <![endif]-->
	
