<% layout('../layouts/layout') -%>
  <script type="text/javascript" src="../javascripts/QuizGame.js"></script>
  <script type="text/javascript" src="../javascripts/classic-mode-controller.js"></script>

  <div id="game-container">
    <div class="row">
      <div id="intro-stage" class="col-12 col-sm-12 col-md-12 col-xl-12 rounded text-center" style="padding: 0 15rem; background: #272727; border: solid 1px #272727; min-height: 30rem;">
        <div>
          <p style="font-size: 90px; text-align: center; font-family: LinotteHeavy; color:#14a76c">
            Classic
          </p>
        </div>
        <div class="game-info">
          <ul>
            <li>
              Số lượng câu hỏi: 10
            </li>
            <li>
              Lĩnh vực: bất kỳ
            </li>
            <li>Cách chơi: chọn đáp án đúng trong 4 đáp án cho trước</li>
          </ul>
        </div>
        <a id="" class="start-btn rounded-btn" class="nav-item text-center">Bắt đầu</a>
      </div>
    </div>
  </div>