{% extends 'template.html' %}

{% block sidebar %}
                <!--Sidebar-->
				<div class="position-relative col-sm-2 col-md-2 col-lg-2 col-xl-2 pl-0">
					<div class="sidebar container ">
					<div class="sidebar-header">Khám Phá</div>
					<ul class="list-nav" style="list-style-type: none; padding-left: 0;">
						<li class="sidebar-items">Ở đâu</li>
						<li class="sidebar-items">Ở đâu</li>
						<li class="sidebar-items">Ở đâu</li>
						<li class="sidebar-items">Ở đâu</li>
						<li class="sidebar-items">Ở đâu</li>
						<li class="sidebar-items">Ở đâu</li>
					</ul>
					</div>
				</div>
				<!--Sidebar: end-->
{% endblock %}