{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Grab It!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />

</head>

<body>
	<div id="wrapper">
		<div id="header">
			<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-danger position-relative">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">Grab It!</a>
					</div>
					<!--Collapse-->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="main-menu">
						<ul class="nav navbar-nav mr-4">
							<li class="nav-item">
								<a href="#" class="nav-link">Trang Chủ</a>
							</li>
							<!--Dropdown-->
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Danh Mục</a>
								<div class="dropdown-menu">
									<a href="#" class="dropdown-item">Nhóm sản phẩm 1</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item">Nhóm sản phẩm 2</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item">Nhóm sản phẩm 3</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item">Nhóm sản phẩm 4</a>
								</div>
							</li>
							<!--end Dropdown-->
							<li class="nav-item">
								<a href="#" class="nav-link">Liên Hệ</a>
							</li>
						</ul>
						<!--search bar-->
						<div class="nav navbar-nav" style="width:500px;">
							<input class="form-control form-control-dark w-90" type="text" placeholder="Search"
								aria-label="Search">
						</div>
						<!--right navbar-->
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Giỏ hàng<span><img alt="icon-store"
											src="../static/images/icons/online-store.png"
											style="width:20px" /></span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Đăng Ký</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Đăng Nhập</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!--
		<div class="wallpaper"></div>
		<div class="text-brand text-danger">Banner</div>
		-->
		<!--home-page-->
		<div class="home-page container mt-3">
			<!--Sidebar-->
			<div class="sidebar position-relative container">
				<div class="sidebar-header">Khám Phá</div>
				<ul class="list-nav" style="list-style-type: none; padding-left: 0;">
					<li class="sidebar-items">Ở đâu</li>
					<li class="sidebar-items">Ở đâu</li>
					<li class="sidebar-items">Ở đâu</li>
					<li class="sidebar-items">Ở đâu</li>
					<li class="sidebar-items">Ở đâu</li>
					<li class="sidebar-items">Ở đâu</li>
				</ul>
			</div>
			<!--Sidebar: end-->
			<!--Content-->
			<div id="content" class="container">
				{% block content %}
				{% endblock %}
				<div class="row">
					<img class="san-pham col"
						src="../static/images/products/com-tam-ali-24-277-636009082226090265.jpg" />
					<img class="san-pham col"
						src="../static/images/products/com-tam-ali-24-277-636009082226090265.jpg" />
					<img class="san-pham col"
						src="../static/images/products/com-tam-ali-24-277-636009082226090265.jpg" />
					<img class="san-pham col"
						src="../static/images/products/com-tam-ali-24-277-636009082226090265.jpg" />
				</div>

			</div>
			<!--end content-->
		</div>
		<!--home-page: end-->
		<!--Footer-->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
						<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is
							a
							Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp,
							Minneapolis, MN]</p>
						<p class="h6">&copy All right Reversed.<a class="text-green ml-2"
								href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
					</div>|
				</div>
			</div>
		</footer>
		<!--Footer: end-->
	</div>


	<!--Javascript-->
	<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</body>

</html>