@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Nixmat;
	src: url(../font/Nixmat.ttf);
}
@font-face {
	font-family:MYRIADPRO-SEMIBOLD;
	src: url(../font/MYRIADPRO-SEMIBOLD.OTF);
}
@font-face {
	font-family:MYRIADPRO-BOLDIT;
	src: url(../font/MYRIADPRO-BOLDIT.OTF);
}
@font-face {
	font-family:MYRIADPRO-COND;
	src: url(../font/MYRIADPRO-COND.OTF);
}


/*thêm ở đây*/


#MainHeader{
	background-image: url(../img/bia4.jpg);
	padding:0px;
	height:84px;
}



input#search{
	border:1px solid #09F;
	border-radius: 5px;
	width:400px;
	height:40px;
	float:right;
	margin-left:150px;
	font-size:100%;
	font-family:MYRIADPRO-COND;
}


	
/* kết thúc */








div.title1{
	border-top: 1px ridge #F9CC76;
	font-family: Nixmat;
	text-align: center;
	font-size: 200%;
	padding-top: 0px;
	padding-bottom: 10px;
}
p.hotline{
	font-size:100%;
	font-family:MYRIADPRO-COND;
	position:absolute;
	top:140px;
	left:0px;
}
a#icon_hang{
	position:absolute;
	right:85px;
	top:210px;
	padding:10px;
}
a#icon_taikhoan1{
	position:absolute;
	top: 210px;
	right:20px;
	padding:10px;
}
div.list {
	padding: 30px;
	border-top: 0.5px ridge #ccccb3;
	border-bottom: 0.5px ridge #ccccb3;
	margin-bottom: 10px;
	
}
ul.Mainlist li {
	display: block;
	font-family:MYRIADPRO-SEMIBOLD;
	font-weight: bold;
	float: left;
	list-style-type: none;

}
ul.Mainlist {
	margin-left: 25%;
	margin-top: 0px;
}

ul.Mainlist li a {
	color: #000000;
	text-decoration: none;
	background-color: white;
	padding: 30px;
	position: relative;
	
}
ul.Mainlist li a:hover {
	background-color: #ffcc00;
	color: white;
	text-decoration: none;
	padding-top: 31px;
	text-align: top;
	padding: 30px;
	position: relative;
	
}

.g-list{
	position:relative;
}
.list-content {
	display: none;
	position: absolute;
}
.content-drop {
	position:relative;
}
.list-content a{
	display:block;
	font-size:100%;
	text-align:center;
}
div.content {
	background-image:url(../img/new0091.jpg);
	height:430px;
	width: 100%;
	background-repeat: no-repeat;
}
div.smallmaingood{
	margin-left:33%;
}
div.smallmaingood:after {
	content: "";
	display: table;
	clear: both;
}
a.choose {
	position: relative;
	text-decoration: none;
	float: left;
	color: gray;
	padding: 15px;
	font-family:MYRIADPRO-SEMIBOLD ;
}

a.choose:hover {
	color:black;
	text-decoration:blink;
}
a.choose:after {
	content: '';
	position: absolute;
	top: 0px;
	left:0px;
	width:0%;
	height: 100%;  /* sửa ở đây */
	background-color: yellow;
	transition: 0.3s;
	z-index:-1;
	
}
a.choose:hover:after{
	width: 100%;
}
div.cook {
	border-bottom: 0.5px ridge #ccccb3;
	border-top: 0.5px ridge #ccccb3;
	height:400px;

}
div.gallery-maingood{
	border: 1px solid #ccc;
	float: left;
	margin-left: 20px;
	text-align: center;
}

div.gallery-content {
	padding: 15px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: MYRIADPRO-SEMIBOLD;
}

div.gallery-maingood img {
	width: 100%;
	height: 100%;
}
div.gallery-maingood a:hover{
	text-decoration: none;
}


a.cook1 {
	position:absolute;
	right: 0px;
}
div.gallery-maingood img {
	width: 100%;
	height: 100%;
}
div.gallery-maingood a:hover{
	text-decoration: underline;
}
div.container {
	position: relative;
	
}
div#myCarousel {
	position: absolute;
	left: 270px;
}
div#myCarousel1 {
	position: absolute;
	left: 270px;
}
div#myCarousel2 {
	position: absolute;
	left: 270px;
}

div#and{
	background-image:url(../img/bia4.jpg);
	opacity:0.5;
	height:100px;
}
div.main-gallery-news {
	float: left;
	width: 22%;
	text-align: center;
	margin: 10px;
	
}
div.main-gallery-news img {
	width: 100%;
	height: 100%;
}
p.main-news-header {
	font-family:MYRIADPRO-SEMIBOLD;
	text-align: center;
	padding: 15px;
	font-size: 200%;
	margin: 20px;
}
div.main-news-content {
	padding: 15px;
	text-align:right;
	text-decoration: none;
	color: gray;
	font-family:MYRIADPRO-COND;
	font-size: 110%;
}
div.main-gallery-news a:hover{
	text-decoration: none;
}
div.main-gallery-news {
	margin-left: 20px;
}
div.divnews {
	margin-left: 2%;
	margin-bottom: 30px;
}
div.divnews:after { /* ????? */
	content: "";
	display: table;
	clear: both;
}
p.header-news {
	font-weight: bold;
	color: black;
	font-size: 150%;

}
p.header-news:hover {
	color: #ffcc00;
}

div.foot {
	background-color: black;
	height: 400px;
	width:100%;
}
div.address {
	font-style:italic;
	text-align: center;
	font-family: MYRIADPRO-BOLDIT;
	font-weight: bold;
}
img.MXH {
	width: 8%;
	height: 100px;;
	background-color: white;
}
img.MXH:hover {
	background-color: #ffcc00;
}