<div class="footer-basic" style="background-color: #88cd4e;">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram" style="color: #3e3e3e;"></i></a><a href="#"><i
                    class="icon ion-social-twitter" style="color: #3e3e3e;"></i></a><a href="#"><i class="icon ion-social-facebook"
                    style="color: #3e3e3e;"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" style="color: #3e3e3e;">Trang chủ</a></li>
            <li class="list-inline-item"><a href="#" style="color: #3e3e3e;">Về trang web</a></li>
            <li class="list-inline-item"><a href="#" style="color: #3e3e3e;">Điều khoản</a></li>
            <li class="list-inline-item"><a href="#" style="color: #3e3e3e;">Quyền riêng tư</a></li>
        </ul>
        <p class="copyright" style="color: #818181;">Code by 19Team</p>
    </footer>
</div>