<footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Địa chỉ</h4>
                    <p>Đại học Quốc gia Hà Nội<br />144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                </div>
                <div class="col-md-5 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Liên kết</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
                                role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                    </ul>
                </div>
                <!--
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0"><span>Freelance is a free to use, open source Bootstrap theme. </span></p>
                </div>
                -->
            </div>
        </div>
    </footer>