@font-face{
	font-family: OpenSans-Regular;
	src: url(../font/OpenSans-Regular.ttf);
}
body, div, img, ul, li, h1, h2, h3, h4, h5, h6, p, span, form, input{
	margin: 0;
	padding: 0;
}
body{
	font-family: OpenSans-Regular;
	color: #606366;

}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#footerScreen .footer{
	margin-top: 35px;
	font-size: 13px;
}
#footerScreen .footer-top{
	padding-top: 70px;
	height: 330px;
	background: #172431;
}
#footerScreen .footer-bottom{
	height: 50px;
}
#footerScreen .information{
	padding-left: 110px;
}
#footerScreen .contact{
	padding-left: 110px;
}
#footerScreen .subscribe{
	padding-left: 80px;
	width: 173px;
}
#footerScreen .container-flex-bot{
	display: flex;
}
#footerScreen .info-title{
	font-weight: 100;
	color: #adbac8;
	margin-bottom: 22px;
}
#footerScreen .information-sub li{
	margin-bottom: 10px;
}
#footerScreen .information-sub li a{
	color: #7b8fa3;
	font-size: 13px;
}
#footerScreen .information-sub li a:hover{
	color: #f90;
}
#footerScreen .information-sub li i{
	color: #f90;
    margin-right: 5px;
    font-size: 10px
}
#footerScreen .contact i{
	color: #f90;
    font-size: 28px;
    position: absolute;
}
#footerScreen .font-size-p{
	font-size: 14px;
	margin: 0 0 10px;
	color: #7b8fa3;
	padding-left: 34px;
}
#footerScreen .contact-sub{
	position: relative;
	padding-left: 35px;
}
#footerScreen #input-subscribe{
	border: 1px solid #4e5862;
	background: #232f3c;
	height: 37px;
	width: 100%;
	margin-bottom: 5px;
	
}
#footerScreen .btn-subscribe i{
	margin-left: 5px;
    font-size: 10px;
    color: #f90;	
}
#footerScreen .btn-subscribe{
	background: none;
    border: 1px solid #4e5862;
    color: #adbac8;
    height: 37px;
    padding: 0 15px;
    margin-left: 25px;
    cursor: pointer;
}
#footerScreen .footer-bottom{
	background: #1a1a1a;
	display: flex;
	align-items: center;
}
#footerScreen .footer-bottom p{
	font-size: 14px;
	color: #fff;
}
#footerScreen .footer-bottom-flex{
	display: flex;
	align-items: center;
}
#footerScreen .pull-right{
	padding-top: 5px;
	margin-left: auto;
}
#footerScreen .pull-right a{
	margin-left: 5px;
}