@font-face{
	font-family: OpenSans-Regular;
	src: url(../font/OpenSans-Regular.ttf);
}
body, div, img, ul, li, h1, h2, h3, h4, h5, h6, p, span, form, input{
	margin: 0;
	padding: 0;
}
span{
	display: inline-block;
}
body{
	font-family: OpenSans-Regular;
	color: #606366;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
#productScreen .container{
	width: 1176px;
	margin: 0 auto;
}
#productScreen .container-flex{
	display: flex;
	height: 47px;
	align-items: center;
}
#productScreen .header-top{
	font-size: 13px;
	font-weight: 100;
	border-bottom: 1px solid #e3e3e3;
	height: 100%;

}
#productScreen .header-contact{
	display: flex;
}


#productScreen .header-menu{
	display: flex;
	margin-left: auto;
}
#productScreen .header-contact, .header-menu{
	height: 100%;
}
#productScreen .header-contact li {
	border-right: 1px solid #e3e3e3;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
#productScreen .header-contact li:first-child {
	border-left: 1px solid #e3e3e3;
}
#productScreen .header-menu li{
	border-right: 1px solid #e3e3e3;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
#productScreen .header-menu li:first-child {
	border-left: 1px solid #e3e3e3;
}
#productScreen .header-top i{
	margin-right: 10px;
	font-size: 11px;
}
#productScreen .header-contact a{
	color: inherit;
  	text-decoration: inherit;
}
#productScreen .header-menu a{
	color: inherit;
  	text-decoration: inherit;
}
#productScreen .header-top a:hover{
	color: black;
}
#productScreen .header-mid{
	margin: 30px 0 0px;
}
#productScreen .hero-img img{
	width: 200px;
	height: 78px;

}
#productScreen .header-mid-right{
	margin-left: auto;
}
#productScreen .header-mid-margin{
	float: left;
}
#productScreen #btn-search{
	position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    cursor: pointer;
}
#productScreen #form-search{
	width: 218px;
	display: inline-block;
	position: relative;
}
#productScreen #input-search{
	height: 37px;
	border: 1px solid #e1e1e1;
	width: 190px;
	padding: 0 12px;
}
#productScreen .cart{
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    font-size: 13px;
	font-weight: 100;
}
#productScreen .cart .cart-item i:first-child {
    margin-right: 3px;
    color: #999da0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;	
}
#productScreen .header-bottom{
	font-weight: 100;
	margin-top: 30px;
	height: 60px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	background-color: #0277b8; 
}
#productScreen .header-nav{
	display: flex;
	height: 60px;
	align-items: center;
}
#productScreen .header-nav li{
	height: 43px;
	display: flex;
	align-items: center;
	position: relative;
}
#productScreen .header-nav a{
	height: 100%;
	display: flex;
	align-items: center;
}

#productScreen .header-nav li:hover .header-sub-nav {
	display: block;
}

#productScreen .header-sub-nav {
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	min-width:200px;
	display: none;
	transition: width 2s;
	box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
}

#productScreen .header-sub-nav li a {
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 28px; 
}
#productScreen .header-sub-nav li{
	border-bottom: 1px solid #e3e3e3; 
}
#productScreen .header-sub-nav li a:hover{
	color: #fff;
}
#productScreen .current-nav{
	width: 100%;
	padding: 0 30px 0 30px;
	color: white;
  	text-decoration: inherit;
}
#productScreen .header-nav a:hover{
	background: rgb(58, 92, 131);
}

/* content */
#productScreen .content{
	height: 1260px;
}
#productScreen .clearfix{
	margin-top: 26px;
	display: flex;
}
#productScreen .page-title{
	font-weight: 100;
	margin-top: 25px;
}
#productScreen .page-control{
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 100;
}

#productScreen .page-control li::after {
	content: '/';
	display: inline-block;
	margin: 0 4px;
}
#productScreen .page-control li:last-child::after {
	display: none;
}
#productScreen .page-control-item a:hover{
	text-decoration: underline;
}
#productScreen .page-control-item a{
	color: black;
}
#productScreen .product-title{
	display: flex;
	margin-top: 60px;
}
#productScreen .content-left{
	width: 75%;
}
#productScreen .product-img-price{
	display: flex;
}
#productScreen .content-right{
	background-color: #fff;
	width: 25%;
}
#productScreen .img-product-mini{
	margin-right: 10px;
    margin-top: 3px;
    width: 56px;
    height: 72px;	
}
#productScreen .beta-name{
	font-size: 13px;
}
#productScreen .img-product-hero{
	margin-right: 10px;
	margin-top: 3px;
}
#productScreen .img-product-hero img{
	width: 270px;
	height: 320px;
}
#productScreen .product-name-hero{
	font-weight: 100;
}
#productScreen .product-price{
	font-weight: 100;
	margin-bottom: 30px;
	margin-top: 12px;
}
#productScreen .product-info{
	font-size: 15px;
	margin-bottom: 30px;
}
#productScreen .product-buy{
	display: flex;
}
#productScreen .product-buy p{
	padding-top: 26px;
    padding-left: 14px;
    font-size: 14px;
}
#productScreen .list-product{
	height: 434.862px;
	margin-left: 18px;
	margin-bottom: 140px;

}
#productScreen .list-product-title{
	font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 10px 0 10px 20px;
    border-left: 3px solid #606366;
    color: #606366;
   	font-weight: 100;
   	margin-bottom: 25px;
}

#productScreen .product-item-mini{
	margin-top: 25px;
	display: flex;
	padding-bottom: 20px;
}
#productScreen .product-item-mini:not(:last-child){
    border-bottom: 1px dotted #e1e1e1;
}
#productScreen .list-product-body{
	margin-left: 20px;
}
#productScreen .beta-sales-price{
	/* font-size: 20px; */
    color: #f90;
    margin-right: 20px;
}

#productScreen .description-reviews{
	margin-top: 50px;
}
#productScreen .tabs{
	display: flex;

}
#productScreen .tabs li{

}
#productScreen .tabs li a{
	padding: 15px 35px;
	border: 1px dotted #e1e1e1;
}
#productScreen .product-list{
	margin-top: 30px;
	display: flex;
}
#productScreen .product-item-related{
	padding-right: 22px;
}
#productScreen .product-name-related{
	font-weight: 100;
	margin-top: 10px;
	font-size: 14px;
}
#productScreen .product-price-related{
	font-weight: 100;
}
#productScreen .product-buy-detail-related{
	margin-top: 10px;
}
#productScreen .product-buy-detail-related a{
	color: #606366; 
	border: 1px solid #e3e3e3; 
}
#productScreen .add-item-cart-related{
	color: #606366; 
	margin-right: 2px;
	background-color: #3a5c83;
	padding: 8px;

}
#productScreen .add-item-cart-related i{
	color: #fff;
	font-size: 22px;
}
#productScreen .item-detail-related{
	font-weight: 100;
	font-size: 16px;
	padding: 9px 25px 9px 25px;
}
#productScreen .item-detail-related i{
	color: #f90;
	font-size: 10px;
	margin-left: 10px;
}
#productScreen .add-item-cart-related:hover{
	background: #f90;
}
#productScreen .item-detail-related:hover{
	background: #3a5c83;
	color: #fff;
}
#productScreen .product-item-related:hover .add-item-cart-related {
	background: #f90;
}
#productScreen .product-item-related:hover .img-product-related{
	transform: scale(1.05);
}

#productScreen .product-item-related a img {
	transition: all 0.1s;
	height: 320px;
    width: 264px;
}
#productScreen .button-config{
	border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: 30%;
    height: 100%;
}
#productScreen #quantity{
	height: 100%;
	border: none;
	width: 70%;
	outline: none;
	text-align: center;
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
}
#productScreen .option-buy{
	margin-top: 20px;
	border: 1px solid #e3e3e3;
    width: 120px;
    height: 33px;
    align-items: center;
    display: flex;
	margin-bottom: 32px;
}
#productScreen input[type=number]::-webkit-inner-spin-button, 
#productScreen input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#productScreen .buy-now{
	border: 1px solid #e3e3e3;
	font-weight: 100;
	font-size: 16px;
	padding: 9px 25px 9px 25px;
	color: #fff;
    background: #ee4d2d;
    margin-left: 8px;
}
#productScreen .buy-now:hover{
	background: #f05d40;
}
#productScreen .tab {
	overflow: hidden;
    border-top: 1px solid #f6f6f6;
    background-color: #f1f1f1;
    width: 250px;
    border-right: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
}
#productScreen .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: inherit;

}
#productScreen .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#productScreen .tab button.active {
  background-color: #b9b3b3;
}
#productScreen .tabcontent p{
	font-size: 14px;
	margin: 20px;
}
/* Style the tab content */
#productScreen .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #f6f6f6;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-left: 1px;
}
#productScreen .tablinks{
	width: 50%;
}
/* code phần footer */
#productScreen .footer{
	margin-top: 35px;
	font-size: 13px;
}
#productScreen .footer-top{
	padding-top: 70px;
	height: 330px;
	background: #172431;
}
#productScreen .footer-bottom{
	height: 50px;
}
#productScreen .information{
	padding-left: 110px;
}
#productScreen .contact{
	padding-left: 110px;
}
#productScreen .subscribe{
	padding-left: 80px;
	width: 173px;
}
#productScreen .container-flex-bot{
	display: flex;
}
#productScreen .info-title{
	font-weight: 100;
	color: #adbac8;
	margin-bottom: 22px;
}
#productScreen .information-sub li{
	margin-bottom: 10px;
}
#productScreen .information-sub li a{
	color: #7b8fa3;
	font-size: 13px;
}
#productScreen .information-sub li a:hover{
	color: #f90;
}
#productScreen .information-sub li i{
	color: #f90;
    margin-right: 5px;
    font-size: 10px
}
#productScreen .contact i{
	color: #f90;
    font-size: 28px;
    position: absolute;
}
#productScreen .font-size-p{
	font-size: 14px;
	margin: 0 0 10px;
	color: #7b8fa3;
	padding-left: 34px;
}
#productScreen .contact-sub{
	position: relative;
	padding-left: 35px;
}
#productScreen #input-subscribe{
	border: 1px solid #4e5862;
	background: #232f3c;
	height: 37px;
	width: 100%;
	margin-bottom: 5px;
	
}
#productScreen .btn-subscribe i{
	margin-left: 5px;
    font-size: 10px;
    color: #f90;	
}
#productScreen .btn-subscribe{
	background: none;
    border: 1px solid #4e5862;
    color: #adbac8;
    height: 37px;
    padding: 0 15px;
    margin-left: 25px;
    cursor: pointer;
}
#productScreen .footer-bottom{
	background: #1a1a1a;
	display: flex;
	align-items: center;
}
#productScreen .footer-bottom p{
	font-size: 14px;
	color: #fff;
}
#productScreen .footer-bottom-flex{
	display: flex;
	align-items: center;
}
#productScreen .pull-right{
	padding-top: 5px;
	margin-left: auto;
}
#productScreen .pull-right a{
	margin-left: 5px;
}