<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Trang chủ</title>

    <% include ../scripts/script %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />



</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Quizy</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/games">Chơi</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/rank">Bảng xếp
                            hạng</a>
                    </li>

                </ul>
            </div>
        </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid d-block mx-auto mb-5" src="../images/profile.png" />
            <h1>Quizy</h1>
            <hr class="star-light" />
            <h2 class="font-weight-light mb-0">Sân chơi giải đố lành mạnh bổ ích cho mọi người</h2>
        </div>
    </header>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Lĩnh vực</h2>
            <hr class="star-dark mb-5" />
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/DiaLi.png" />
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/KhoaHoc.png" />
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/XaHoi.png" />
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/VanHoc.png" />
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/LichSu.png" />
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../images/LinhVuc/TuNhien.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">Vì sao Quizy hữu ích và thú vị</h2>
            <hr class="star-light mb-5" />
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Quizy là trang web cung cấp cho mọi người một môi trường vui chơi lành mạnh. Với
                        những câu hỏi xung quanh
                        các lĩnh vực trong đời sống, Quizy không chỉ tiếp thêm kiến thức mà còn đem lại những giây phút
                        giải
                        trí.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Quizy sở hữu đội ngũ nhân viên hùng hậu, hăng hái và nhiệt tình, không chỉ hỗ trợ
                        người dùng về mọi mặt
                        mà còn cố gắng cải thiện, tạo thêm những chế độ chơi đem lại cảm giác mới lạ cho mọi người.
                    </p>
                </div>
            </div>  
            <div class="text-center mt-4">
                <% if(isLogged) { %>
                <a class="btn btn-outline-light btn-xl" role="button" href="/games">
                    <span>THAM GIA NGAY</span>
                </a>
                <% } else {%>
                <a class="btn btn-outline-light btn-xl" role="button" href="/user/signup">
                    <span>THAM GIA NGAY</span>
                </a>
                <% } %>

            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Liên hệ</h2>
            <hr class="star-dark mb-5" />
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Họ tên</label>
                                <input class="form-control" type="text" required placeholder="Tên" id="name" />
                                <small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Địa chỉ email</label>
                                <input class="form-control" type="email" required placeholder="Email" id="email" />
                                <small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="tel" required placeholder="Điện thoại" id="phone" />
                                <small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-5 pb-2">
                                <textarea class="form-control" rows="5" required placeholder="Tin nhắn"
                                    id="message"></textarea>
                                <small class="form-text text-danger help-block"></small>
                            </div>
                        </div>
                        <div id="success"></div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-xl" id="sendMessageButton">Gửi</button>
                        </div>
                    </form>

                    <script type="text/javascript">
                        $("#sendMessageButton").click(() => {
                            $.post("/contact", {
                                name: $("#name").val(),
                                email: $("#email").val(),
                                phoneNumber: $("#phone").val(),
                                message: $("#message").val()
                            }, (success) => {
                                console.log("trang thai: " + success);
                                if (success) {
                                    alert("Cảm ơn phản hồi của bạn!\nChúng mình sẽ cố gắng hết mình để phát triển Quizy.");
                                    console.log("da thanh cong");
                                } else {
                                    alert("Phản hồi của bạn chưa được ghi lại.\nVui lòng thử lại.");
                                }
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="modal" id="contact-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Quizy</h4>
                    </div>
                    <div class="modal-body">
                        <p id="contact-modal-content"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Địa chỉ</h4>
                    <p>Đại học Quốc gia Hà Nội
                        <br />144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                </div>
                <div class="col-md-5 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Liên kết</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button"
                                href="/games">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="d-lg-none scroll-to-top position-fixed rounded">
        <a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">ĐỊA LÍ</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/DiaLi.png" />
                                <p class="mb-5">Địa lý học (trong tiếng Hy Lạp γεωγραφία, geographia, nghĩa là "mô tả trái đất") 
                                    là một lĩnh vực khoa học nghiên cứu về các vùng đất, địa hình, 
                                    dân cư và các hiện tượng trên Trái Đất. Người đầu tiên đề cập 
                                    đến thuật ngữ này là Eratosthenes (276–194 TCN).Bốn lĩnh vực truyền 
                                    thống nghiên cứu về địa lý là phân tích không gian của tự nhiên và 
                                    các hiện tượng con người (như các nghiên cứu về phân bố), nghiên cứu khu vực, 
                                    nghiên cứu về mối quan hệ con người đất, và nghiên cứu về Khoa học Trái Đất.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">KHOA HỌC</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/KhoaHoc.png" />
                                <p class="mb-5">Khoa học (tiếng Anh: science) là toàn bộ hoạt động có hệ thống
                                    nhằm xây dựng và tổ chức kiến thức dưới hình thức những lời giải thích
                                    và tiên đoán có thể kiểm tra được về vũ trụ. Tri thức trong khoa học là 
                                    toàn bộ lượng thông tin mà các nghiên cứu đã tích lũy được. Định nghĩa 
                                    về khoa học được chấp nhận phổ biến rằng khoa học là tri thức tích cực 
                                    đã được hệ thống hóa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">XÃ HỘI</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/XaHoi.png" />
                                <p class="mb-5">Xã hội là một tập thể hay một nhóm những người được
                                    phân biệt với các nhóm người khác bằng các lợi ích, mối quan hệ
                                    đặc trưng, chia sẻ cùng một thể chế và có cùng văn hóa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">VĂN HỌC</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/VanHoc.png" />
                                <p class="mb-5">Văn học theo cách nói chung nhất, là bất kỳ tác phẩm nào bằng văn bản.
                                    Hiểu theo nghĩa hẹp hơn, thì văn học là dạng văn bản được coi là một hình thức
                                    nghệ thuật, hoặc bất kỳ một bài viết nào được coi là có giá trị nghệ thuật hoặc
                                    trí tuệ, thường là do cách thức triển khai ngôn ngữ theo những cách khác với cách 
                                    sử dụng bình thường.Văn học có thể phân loại thành: hư cấu hoặc phi hư cấu 
                                    theo nội dung), và thơ hoặc văn xuôi (theo hình thức). Thể loại văn xuôi có thể phân
                                    loại tiếp thành tiểu thuyết, truyện ngắn và kịch bản. Các tác phẩm văn học có thể được
                                    phân loại theo từng giai đoạn lịch sử được nhắc đến, hoặc một số thể loại nội dung
                                    hoặc hành văn đặc thù (bi kịch, hài kịch, lãng mạn, gợi tình,...)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">LỊCH SỬ</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/LichSu.png" />
                                <p class="mb-5">Lịch sử là một bộ môn khoa học nghiên cứu về quá khứ, đặc biệt là những 
                                    sự kiện liên quan đến con người. Đây là thuật ngữ chung có liên quan đến các
                                    sự kiện trong quá khứ cũng như những ghi nhớ, phát hiện, thu thập, tổ chức, trình bày,
                                    giải thích và thông tin về những sự kiện này. Những học giả viết về lịch sử được gọi 
                                    là nhà sử học. Các sự kiện xảy ra trước khi được ghi chép lại được coi là thời tiền sử.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">TỰ NHIÊN</h2>
                                <hr class="star-dark mb-5" />
                                <img class="img-fluid mb-5" src="../images/LinhVuc/TuNhien.png" />
                                <p class="mb-5">Tự nhiên hay cũng được gọi thiên nhiên, thế giới vật chất, vũ trụ và thế giới tự nhiên 
                                    (tiếng Anh: nature) là tất cả vật chất và năng lượng chủ yếu ở dạng bản chất. "Tự nhiên" nói đến
                                    các hiện tượng xảy ra trong thế giới vật chất, và cũng nhắc đến sự sống nói chung. Phạm vi bao
                                    quát của nó từ cấp hạ nguyên tử cho tới những khoảng cách lớn trong vũ trụ. Nghiên cứu về tự nhiên
                                    là một mảnh ghép lớn trong thế giới khoa học.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button"
                        href="/games">
                        <i class="fa fa-close"></i> Tham gia ngay</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>