<div class=" bg-white"  style="background-image: linear-gradient(-180deg, rgba(255,0,0,0), rgb(255, 209, 209));">
    <div class="row justify-content-md-around" >
        <div class="col-md-3 p-2"><b>Hot line : </b>0123456789</div>
        <div class="col-md-3 p-2 row justify-content-end">            
                <a href="#" class=" pr-3" style="border-right: 1px solid">Trợ giúp</a>
                <a href="#" class=" pl-3 pr-3" style="border-right: 1px solid"> Đăng nhập</a> 
                <a href="#" class=" pl-3"> Đăng kí </a>   
        </div>
    </div>

    <div class="container " style="border-top: 1px solid white" >

        <div class="row justify-content-md-center">
            <a href="#"><img src="./img/logo2.png" style="width: 300px; height: 100px;" class="mr-4 p-3"></a>
            <div>
                <form class="form-inline mr-4 mt-4 p-3" style="width: 500px;"
                    action="/danh-muc-san-pham" method="GET">
                    <input class="form-control mr-1" style="width: 80%;" type="search" placeholder="Tìm kiếm..."
                        name="keyWord" aria-label="Search">
                    <button class="btn btn-danger " type="submit">tìm kiếm</button>
                </form>
            </div>
            <a href="#"><span><img src="./img/cart-icon1.png" class="mt-3 ml-3 mb-3 pt-3 pl-3 pb-3"></span></a>
            <div class="Qty qty-header"></div>
        </div>
    </div>
</div>

<div class=" sticky-top">
    <!--navbar-->
    <nav class=" shadow navbar navbar-expand-lg navbar-dark bg-danger ">
        <div class="container">
            <a class="navbar-brand" href="/"><b><i>2hand market</i></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang chủ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gio-hang">Giỏ hàng<span class="Qty"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên Hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dang-tin-mien-phi">Đăng tin miễn phí</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>