 /*body*/
                    body {
                      /*   font: 15px Montserrat, sans-serif;
                        line-height: 1.8; */
                    }
                    h1 { color: #d04764; font-family: 'Lobster', cursive; 
                    font-size: 50px; font-weight: normal; 
                    line-height: 48px; margin: 0 0 18px; 
                    text-shadow: 1px 0 0 #fff; }


/* p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; } */
a { color: rgb(26, 140, 255); transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }


a:hover { color: #a03c21 }


.date { float: left }


.author { float: right }


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }


.meta-info { padding: 5px; overflow: hidden; }


.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }



/* login/signup href */
                    a.login:link, a.login:visited{
                        color: rgb(204, 204, 204);
                        text-decoration: none;  
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 65em; 
                        font-size: 16px;
                        padding-right: 10px;
                    }
                    a.login:hover, a.login:active{
                        color: rgb(170, 128, 255);
                        text-decoration: none;
                    }
                    a.signup:link, a.signup:visited{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        text-decoration: none;
                        color: rgb(204, 204, 204);
                    }
                    a.signup:hover, a.signup:active{	
                        text-decoration: none;
                        color: rgb(170, 128, 255);
                    } 
                    .navbar-header{
                    	padding-right: 50px;
                    }
                    .logout-right{
                      
                      float: right;
                    }
/*container */
                    .nb-1{
                        background-color: white;
                       /*  background-image: url('https://i.stack.imgur.com/jGlzr.png'); */
                        background-image: url('http://wowslider.com/sliders/demo-9/data/images/nature_forest_forest_010852_.jpg');
                    }
                    .nb-2{

                    	background-color: rgb(0, 128, 128);
                    	padding-left: 120px;
                    }
                    .nb-3{
                      background: transparent;
                      border: 50px solid transparent;
                      border-image: url('https://tutorialzine.com/media/2017/05/border-image.jpg') 25 stretch;
                    }
/*footer*/  

                    footer {
                        padding-top: 50px;
                        padding-bottom: 100px ;
                        background-image: url('http://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg');
                        background-repeat: no-repeat;
                        background-size: 110%;
                    }

                    .uull h3{
                    	font-family: Monospace;
                    }
                    ul.uull {list-style-type: none;}
                    .footerr a{
                        color: rgb(0, 51, 128);
                    }
                    .footerr a:hover{
                        color: #002db3;
                        text-decoration: none;
                    }
                    .icon a{
                        padding-right: 15px;
                    }
                    .clock{
                        padding-bottom: 15px;
                    }
                    /* h2{
                      color: #396;
                      font-weight: 100;
                      font-size: 20px;
                      margin: 40px 0px 20px;
                    } */

                    #clockdiv{
                        font-family: sans-serif;
                        color: #fff;
                        display: inline-block;
                        font-weight: 100;
                        text-align: center;
                        font-size: 30px;
                    }

                    #clockdiv > div{
                        padding: 10px;
                        border-radius: 3px;
                        background: #00BF96;
                        display: inline-block;
                    }

                    #clockdiv div > span{
                        padding: 15px;
                        border-radius: 3px;
                        background: #00816A;
                        display: inline-block;
                    }

                    .smalltext{
                        padding-top: 5px;
                        font-size: 16px;
                    }

                	.while1{
                    background-color:  rgb(117, 163, 163);
                    background-image: url('http://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg');

                	  .carousel-holder {
                      margin-bottom: 30px;
                    }

                	  .carousel-control,
                  	.item {
                      border-radius: 4px;
                    }

                  	.caption {
                      height: 130px;
                      overflow: hidden;
                    }

                  	.caption h4 {
                      white-space: nowrap;
                    }

                 	 .thumbnail img {
                      width: 100%;
                    }

                 	 .ratings {
                      padding-right: 10px;
                      padding-left: 10px;
                      color: #d17581;
                    }

                 	 .thumbnail {
                      padding: 0;
                 	 }

                  	.thumbnail .caption-full {
                      padding: 9px;
                      color: #333;
                   	}
                  	.btn-link {
                      border: none;
                      outline: none;
                      background: none;
                      cursor: pointer;
                      color: #0000EE;
                      padding: 0;
                      text-decoration: underline;
                      font-family: inherit;
                      font-size: inherit;
                  	 }                                                             
/*  */
					
         