<% layout('../layouts/layout') -%>

<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration" style="  padding: 0px;
">
            <img src="../images/QuizyGreen.png" style="width:240px;height:166.4px;" />
        </div>
        <% if (hasErrors) { %>
        <div class="alert alert-danger">
            <% messages.forEach(function(message) { %>
            <p>
                <%= message %>
            </p>
            <% }) %>
        </div>
        <% } %>
        <div class="form-group rounded">
            <input class="form-control rounded" type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group rounded">
            <input class="form-control rounded" type="password" name="password" placeholder="Mật khẩu" />
        </div>
        <div class="form-group rounded">
            <button class="btn btn-primary btn-block rounded" type="submit" style="background-color: #14a76c;">
                Đăng nhập
            </button>
        </div>
    </form>
</div>