<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration" style="padding: 0px;"><img src="../../public/images/QuizyGreen.png" style="background-image: url('../../public/images/QuizyGreen.png');width: 240px;height: 166.4px;" /></div>
        <div class="form-group"><input type="email" name="email" placeholder="Email" class="form-control" /></div>
        <div class="form-group"><input type="password" name="password" placeholder="Mật khẩu" class="form-control" /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #88cd4e;">Đăng
                nhập</button></div><a href="#" class="forgot">Quên email hoặc mật khẩu?</a>
    </form>
</div>