<!DOCTYPE html>
<html>

<head>
    <% include ./element/header %>
    <% include ./element/script %>

</head>

<body style="overflow-x:hidden">
    <!-- content -->
    <%- body %>

    <!--footer-->
    <% include ./element/footer %>

</body>

</html>