@font-face{
	font-family: Glegoo-Bold;
	src: url(../font/Glegoo-Bold.ttf);
}
@font-face{
	font-family: Glegoo-Regular;
	src: url(../font/Glegoo-Regular.ttf);
}
body, div, img, ul, li, h1, h2, h3, h4, h5, h6, p, span{
	margin: 0;
	padding: 0;
}
body{
	font-family: Glegoo-Regular;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.container-flex {
	display: flex;
	height: 100%;
	align-items: center;
}
.header{
	height: 70px;
	background: #C8BCA7 !important
}
.header-logo{
	height: 40px;
	float: left;
}
.header-logo img {
	height: 100%;
}
.header-nav{
	height: 100%;
	list-style: none;
	display: flex;
	margin-left: 50px;
}

.header-nav-item {
	height: 100%;
	padding: 0 15px;
	
}

.header-nav .active {
	background: rgba(190, 175, 148, 01);
}

.header-nav-item a{
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}
.header-nav-item:hover{
	background: rgba(190, 175, 148, 01);
}
.header-nav-item:hover a {
	color: #fff;
}
.header-menu {
	font-size: 25px;
	list-style: none;
	display: flex;
	margin-left: auto;
}
.header-menu li{
	margin-left: 25px;
}

.hero-img img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.bestsellers {
	padding-top: 30px;
}
.content-title h3{
	font-size: 30px;
	margin-bottom: -10px;
}
.content-title p{
	font-size: 15px;
	color: #888;
}
.book-list {
	width: 100%;
	margin-top: 50px;
}

.row {
	width: 100%;
	display: flex;
}

.col {
	width: 20%;
	padding: 0 15px;
	box-sizing: border-box;
}

.book-item img{
	width: 100%;
}
.book-title{
	width: 80%;
	font-weight: 300;
	color: #222;
	font-size: 22px;
}
.book-category{
	text-transform: uppercase;
	color: #888;
	margin-bottom: 20px;
}
.book-item-detail{
	padding: 0 11px;
	position: relative;
}
.book-add{
	position: absolute;
	top: 5px;
	right: 5px;
}
.test{
	border: 1px dashed red;
	
}
