<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>SCRIB</title>
	<meta charset=utf-8>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Start Header -->
	<nav id="header" class="navbar">
		<nav class="row" style="margin: 0px auto; width: 1400px;">
			<a href="/" class="col-8" id="header-logo">Scrib</a>
			<nav class="col-4" id="btn-list">
				<a href="/login"><button type="button" class="btn btn-text" id="btn-dn">Đăng nhập</button></a>
                <a href="/register"><button type="button" class="btn btn-primary" id="btn-dk">Đăng ký</button></a>
			</nav>
		</nav>	
	</nav>
	<!--End Header-->

	<!-- Start Content -->
	<div id="content">
        <div id="content-form">
			<form action="" method="POST">
                {% csrf_token %}
				<h2 id="title-dn">Đăng ký</h2>
                <div class="input-container">
				    <i class="fa fa-user icon"></i>
				    {{ form.username }}
                </div>

                <div class="input-container">
				    <i class="fa fa-key icon"></i>
				    {{ form.password }}
                </div>

                <div class="input-container">
				    <i class="fa fa-envelope icon"></i>
				    {{ form.email }}
                </div>
                <button type="submit" class="btn-submit">Đăng ký</button>
            </form>
        </div>
	</div>

	<!--End Content-->
	<!-- Start Footer -->
	
	<!--End Footer-->
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>